[Unit]
Description=PitftPicViewer
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/pitft-pic-viewer/run.sh
User=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
