[Unit]
Description=PitftPicViewer
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/pitft-pic-viewer/run.sh
User=pi
WorkingDirectory=/home/pi/pitft-pic-viewer
Restart=on-failure

[Install]
WantedBy=multi-user.target
